<app-navbar></app-navbar>

<div class="container mt-4">
    <h1>Registrate aqui</h1>
    <div class="row border border-4 rounded p-3">

        <div class="col  p-3 m-2">

            <h2>Tus datos:</h2>
            <!-- Oculto el input file asi utilizo un boton personalizado para subir la foto(tambien lo voy a usar para el cv) -->
            <div>
                <div>
                    <img [src]="imageURL[0]" width="100px" class="mb-3">
                  </div>
                <input type="file" accept="image/*" class="mb-3 d-none" id="inputFoto" name="fotoPerfil"  (change)="cargarImagen($event)">
                
                <input type="button" value="Selecciona una foto" onclick="document.getElementById('inputFoto').click()" class="btn btn-primary mb-3">
            

            </div>

            <div class="form-floating mb-3 ">
                <input type="email" class="form-control" id="floatingInput" placeholder=" ">
                <label for="floatingInput"> E-mail <small>(sera tu usuario) *</small> </label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder=" ">
                <label for="floatingInput">Nombre *</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder=" ">
                <label for="floatingInput">Apellido *</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder=" ">
                <label for="floatingInput">Telefono</label>
            </div>

            <div class="form-check form-switch">
                <div class="row ms-3">
                    <div class="col ">
                        <input class="form-check-input" type="checkbox" role="switch" id="switchMovilidad">
                        <label class="form-check-label" for="switchMovilidad">Movilidad Propia</label>
                    </div>
                    <div class="col">
                        <input class="form-check-input" type="checkbox" role="switch" id="switchDisponibilidad">
                        <label class="form-check-label" for="switchDisponibilidad">Disponibilidad para viajar</label>
                    </div>
                </div>
            </div>

            <div class="row ms-3 ">

                <div class="col">

                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" role="switch" id="switchDiscapacidad"  (click)="mostrarTextArea()">
                        <label class="form-check-label" for="switchDiscapacidad">Discapacidad</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col mb-3">
                    <!-- Aqui si se activa el switch se abriria el text area -->
                    <textarea  *ngIf="mostrar" class="form-control" placeholder="Cuéntanos mas sobre ti"
                        id="floatingTextarea"></textarea>
                </div>
            </div>


            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingInput" placeholder=" ">
                <label for="floatingInput">Fecha de nacimiento</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder=" ">
                <label for="floatingPassword">Contraseña *</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder=" ">
                <label for="floatingPassword">Confirma tu contraseña * </label>
            </div>

        </div>

        <div class="col  p-4 m-2">

            <div class="row mb-3 ">
                <div class="col">
                    <h2>Direccion:</h2>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder=" ">
                        <label for="floatingInput">Calle </label>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder=" ">
                                <label for="floatingInput">Nro </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput"
                                    placeholder=" ">
                                <label for="floatingInput">Piso </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput"
                                    placeholder=" ">
                                <label for="floatingInput">Depto </label>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder=" "> 
                                <label for="floatingInput">Codigo postal</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder=" ">
                                <label for="floatingInput">Localidad</label>
                            </div>
                        </div>

                    </div>

                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder=" ">
                            <label for="floatingInput">Provincia</label>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder=" ">
                        <label for="floatingInput">Observaciones del domicilio</label>
                    </div>

                </div>

            </div>

            <div class="row border border-2 rounded p-4 mb-3 text-center">
                <div>
                    <div class="mb-3">
                        <label for="">{{nombreCv}}</label>
                      </div>
                    <input type="file" accept="image/*" class="mb-3 d-none" id="inputCv" name="curriculum"  (change)="cargarCv($event)">
                    
                    <input type="button" value="Carga tu Curriculum Vitae" onclick="document.getElementById('inputCv').click()" class="btn btn-primary mb-3">
                
    
                </div>
                
            </div>

            <div class="row rounded p-4 ">
                <div class="col  text-center">
                    <div class=" container-fluid btn btn-lg btn-primary">Aceptar</div>
                </div>
                <div class="col text-center">
                    <div class=" container-fluid btn btn-lg btn-secondary" [routerLink]="['']">Volver</div>
                </div>
            </div>



        </div>
    </div>
</div>

<app-footer></app-footer>