<app-navbar></app-navbar>

<div class="row mx-5 px-5" [hidden]="!tieneEmpresa()">
    <div class="col">
        <button type="button" class="btn btn-danger" [routerLink]="['/cargarEmpleo']">Cargar empleo</button>
    </div>
</div>
<br>

<!-- tarjeta de empleo -->
<div class="row mx-5 px-5">
    <div class="col-6" *ngFor="let empleo of empleos">

        <div class="card mb-5">
            <div class="card-body">
                <h5 class="card-title">{{empleo.titulo}} - {{empleo.empresa.razon_social}}</h5>
                <hr>
                <h6>{{empleo.cargo}}</h6>
                <label>{{empleo.ubicacion}}</label>
                <p class="card-text">{{empleo.descripcion}}</p>
                <a class="btn btn-primary">Postularse</a>
            </div>
        </div>

    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

</div>
















<div class="container-fluid fixed-bottom mx-0 px-0">
    <app-footer></app-footer>
</div>