<table class="table table-hover border border-1 border-dark rounded">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cargo al que se postulo</th> 
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Perfil</th>
        <th scope="col">Curriculum</th>
      </tr>
    </thead>
    
    <tbody >
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>